  .return {
    margin-bottom: -20px;
  }

  .return a{
    text-decoration: none;
    color: white;
  }
  .return a:hover, .return a:active{
    fill: #504b46;
    color: #504b46;
  }

  .return svg:hover{
    fill: #504b46;
    transform: scale(1.2);
  }
  .btn-mini{
    transform: scale(0.6);
  }
  .btn-mini span{
    margin-bottom: -10px !important;
  }

  .flex-row-table{
    height: 15px;
  }

  .navbar-link{
    text-decoration: none;
    color: white;
  }
